@model IEnumerable<THSurveys.Models.SurveySummaryViewModel>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responses)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.HiddenFor(modelitem => item.SurveyId)
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("User"))
                {
                    @Html.ActionLink(item.Title, "Create", "Question", new { SurveyId = item.SurveyId }, new {@title="Click to add questions to the survey" })
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Title)
                }
            }
            else
            {
                @Html.ActionLink(item.Title, "TakeSurvey", "Home", new { id = item.SurveyId }, new {@title="Click to take the survey" })
            }
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusDate)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Responses)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
            {
                @Html.ActionLink("View analysis","QuestionList","Analysis", new { id = item.SurveyId }, new {@title="Click to analyse the responses." })
            }
        </td>
    </tr>
}

</table>
