@model IEnumerable<THSurveys.Models.SurveySummaryViewModel>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responses)
        </th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.HiddenFor(modelitem => item.SurveyId)
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusDate)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.Responses)
        </td>
    </tr>
}

</table>
