@model System.Web.Mvc.HandleErrorInfo

<hgroup class="title">
    <h1 class="error">@ViewBag.Title</h1>
</hgroup>


<h2 class="error">@ViewBag.Message</h2>

<p>
    Please click 

    @if (User.Identity.IsAuthenticated && User.IsInRole("user"))
    {
        @Html.ActionLink("here to return to your list of Surveys", "List", "Survey")
    }
    else
    {
        @Html.ActionLink("here to return to the Home page", "Index", "Home")
    }
    try again.
</p>
<p>
    Alternatively, click 
    <a id="showException" href="#" >here, to see the details of the problem</a>
    @*@Html.ActionLink("here, to see the details of the problem", "Index", "Home", null, null)*@
    but go and get a coffee first and calm down, it's not quite the end of the world yet!
</p>

<div id="exceptionInfo" >
    <div>
        @Html.DisplayNameFor(m => m.ControllerName)
        @Html.DisplayFor(m => m.ControllerName)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.ActionName)
        @Html.DisplayFor(m => m.ActionName)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.Exception)
        @Html.DisplayFor(m => m.Exception)
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#showException").click(function () {
            $("#exceptionInfo").show();
        });
        //  Hide the exception stuff.
        $("#exceptionInfo").hide();
    });
</script>


