@model THSurveys.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <div>
                    <h1>@ViewBag.Title.</h1>
                </div>
                <div>
                    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
                </div>
            </hgroup>
        </div>
    </section>
}

<p class="message-success">@ViewBag.StatusMessage</p>


@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
