@model THSurveys.Models.Home.HomeLChooseViewModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <div>
                <h1>@ViewBag.Title.</h1>
                </div>
                <div>
                <h2>@ViewBag.Message</h2>
                </div>
            </hgroup>
        </div>
    </section>
}

<div>
    <h5>@ViewBag.Message
    @Html.DropDownListFor(model => model.CategoryId, Model.Categories, "All")
        </h5>
</div>

<div id="summaryList"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#CategoryId').change(function() {
            @*$('#sumaryList').load('@Url.Action("SurveyList", "Home", new { id = Model.CategoryId })');*@
            /*
            *   $.load dosn't work as a POST request is needed.  Therefore use Ajax method directly.
            */
            var selValue = this.selectedIndex;
            var selItem = this[selValue].value;
            var urlAction = '@Url.Action("SurveyList", "Home", new { id = 9999 })'  // use a dummy numeric to resolve the url
            var url = urlAction.replace(9999, selItem);
            $.ajax({
                url: url,
                type: 'POST',
                success: function (result) {
                    //  Load the result intothe summaryList element.
                    $("#summaryList").html(result);
                }
            });

        })
    });
</script>