@model IEnumerable<THSurveys.Models.SurveySummaryViewModel>
@{
    //ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <div>
                    <h1>@ViewBag.Title.</h1>
                </div>
                <div>
                    <h2>@ViewBag.Message</h2>
                </div>
            </hgroup>
        </div>
    </section>
}

@Html.Partial("_SurveySummaryList", Model)


@*@foreach(var item in Model)
{
    <div style="width: 500px; margin-left: 50px">
        <span style="width: 300px; margin-left: 10px">
            @Html.DisplayFor(model => item.Title)
        </span>
        <span>
            (
            @Html.DisplayFor(model => item.Owner)
            :
            @Html.DisplayFor(model => item.StatusDate)
            :
            @Html.DisplayFor(model => item.Responses)
            :
            @Html.DisplayFor(model => item.Category)
            )
        </span>
    </div>
}*@
