@model THSurveys.Models.Home.TakeSurveyViewModel

@{
    ViewBag.Title = "TakeSurvey";
}

<h2>TakeSurvey</h2>

@using (Html.BeginForm()) {
<fieldset>
    <legend>TakeSurveyViewModel</legend>
    <h5>
        @Html.HiddenFor(m => m.SurveyId)
        @Html.HiddenFor(m => m.Title)
        @Html.HiddenFor(m => m.CategoryDescription)
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.StatusDate)
        <p>
            @Html.DisplayFor(m => m.Title)
            (
            @Html.DisplayFor(m => m.CategoryDescription)
            )
        </p>
        <p>
            Created by: 
            @Html.DisplayFor(m => m.UserName)
            Issued:
            @Html.DisplayFor(m => m.StatusDate)
        </p>
    </h5>

    @Html.Partial("_SurveyQuestions", Model.Questions)

    <input type="submit" value="Submit Survey" />
    @Html.ActionLink("Quit Survey", "Index")

</fieldset>
}
