@model THSurveys.Models.CreateSurveyViewModel

@{
    ViewBag.Title = "Create Survey";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <div>
                    <h1>@ViewBag.Title.</h1>
                </div>
                <div>
                    <h2>@ViewBag.Message</h2>
                </div>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Survey</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div>
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div>
            @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, "Please Select...")
            @Html.ValidationMessageFor(model => model.CategoryId)

        </div>

        <div class="linkButton">
            <input type="submit" value="Create" />
            @Html.ActionLink("Back to List", "List")
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
