@model IEnumerable<THSurveys.Models.Question.AddQuestionsListViewModel>

@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SequenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SequenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @*@Html.ActionLink("Move Up", "Move", new {questions = Model })*@
                @*@Html.ActionLink("Move Down", "Down", new {questions = Model })*@
            </td>
        </tr>
    }

    </table>
}
else
{
    <h5 id="NoQuestions">
        No questions exist for this survey yet.
    </h5>   
}