@model THSurveys.Models.Question.AddQuestionsViewModel

@{
    ViewBag.Title = "Add Questions to your survey.";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <div>
                    <h1>@ViewBag.Title.</h1>
                </div>
                <div>
                    <h2>
                        @Html.HiddenFor(model => model.id)
                        @Html.DisplayFor(model => model.Title)
                        (
                        @Html.DisplayFor(model => model.CategoryDescription)
                        )
                    </h2>
                </div>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()
    
    <fieldset>
        <legend>Add questions to Survey</legend>

        <div>  

            @Html.ValidationSummary(true)

            <table>
                <thead>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Text)
                        </td>
                        <td>
                            @Html.LabelFor(model => model.LikertId)
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.EditorFor(model => model.Text)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.LikertId, Model.LikertTemplates, "Please Select a template...")
                        </td>
                        <td style="width: 280px;">
                            <input type="submit" value="Add Question." />
                            <input type="button" id="submitForApproval" value="Submit for Approval" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ValidationMessageFor(model => model.Text)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(model => model.LikertId)
                        </td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <div id="responseList"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </fieldset>
}

<div id="questionList">

</div>

<br />

<div class="linkButton">
    @Html.ActionLink("Back to List", "List", "Survey")
</div>



<script type="text/javascript">
    $(document).ready(function () {
        //  Add 'exists' function to return true if the selector is found.
        //  See: http://stackoverflow.com/questions/4257906/jquery-determining-if-element-exists-on-page
        //  Which offers a nice solution to checking if a DOM element exists, rather than just checking
        //  the length of the object, which is not very readable.
        jQuery.fn.exists = function () { return jQuery(this).length > 0; }

        $('#LikertId').change(function() {
            /*
            *   $.load dosn't work as a POST request is needed.  Therefore use Ajax method directly.
            */
            var selValue = this.selectedIndex;
            if (selValue != 0) {
                var selItem = this[selValue].value;
                var urlAction = '@Url.Action("GetLikertResponses", "Question", new { id = 9999 })'//    Use 9999 as dummy so the url will resolve.
                var url = urlAction.replace(9999, selItem);
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (result) {
                        //  Load the result intothe summaryList element.
                        $("#responseList").html(result);
                        //  Hide the Approval button.
                        $("#submitForApproval").hide();
                    }
                });
            } else {
                $('#responseList').hide();
                //  Check if the submit button should be hidden
                if ($('#Text').val() == "") {
                    $("#submitForApproval").show();
                } else {
                    $("#submitForApproval").hide();
                }
            }
        })


        $('#submitForApproval').click(function () {
            /*
            *   Put up a confirmation dialog, and only call the metho
            *   if the response is afirmative.
            */
            if (confirm("Are you sure all questions have been entered?\r\n\r\nPress 'OK' to submit the survey for approval, otherwise press 'cancel' to return to editing.")) {
                //  call the server action method to Submit for Approval.
                var surveyId = $('#id').val();
                var urlaction = '@Url.Action("Submit","Survey", new { id = 9999 })';        //  Use 9999 as dummy so that the url will resolve.
                var url = urlaction.replace(9999, surveyId);
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (result) {
                        if (result === 'OK') {
                            //  Display confirmation dialog
                            alert("Survey has successfully been submitted for approval.");
                            //  Route to the Index for survey for this user.
                            var url = '@Url.Action("List", "Survey")';
                            window.location.href = url;
                        }
                        else {
                            alert("There were problems submitting the survey.  Please try again later.");
                        }
                    }
                });
            }
        })

        $('#Text').blur(function () {
            if ($(this).val() != "") {
                $("#submitForApproval").hide();
            } else {
                if ($('#LikertId').val() == "") {
                    $("#submitForApproval").show();
                } else {
                    $("#submitForApproval").hide();
                }
            }
        });
        
        $('#LikertId').blur(function () {
            var selValue = $(this).val();
            if (selValue != "") {
                $("#submitForApproval").hide();
            } else {
                if ($('#Text').val() == "") {
                    $("#submitForApproval").show();
                } else {
                    $("#submitForApproval").hide();
                }
            }
        });

        //  load any existing questions.
        loadQuestions();

    });

    function loadQuestions() {
        var surveyId = $('#id').val();
        var urlAction = '@Url.Action("GetQuestionsForSurvey", "Question", new { id = 9999 })';  //  Use 9999 as dummy so url will resolve 
        var url = urlAction.replace(9999, surveyId);
        $.ajax({
            url: url,
            type: 'POST',
            success: function (result) {
                //  Load the result intothe summaryList element.
                $("#questionList").html(result);
                //  The questions are updated now or the NoQuestions has been added
                hideApprovalButton();
            }
        });
    }

    function hideApprovalButton() {
        var AreThereNoQuestions = $("#NoQuestions").exists();
        if (AreThereNoQuestions) {
            $("#submitForApproval").hide();
        }
        else {
            var testValue = $("#Text").val();
            var selValue = $("#LikertId").selectedIndex;
            if ((testValue != "") || (selValue != undefined))
                $("#submitForApproval").hide();
        }
    }

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

